@import '../../common/util/variables';

#profiles {
  min-height: 100vh;
}

.profiles {
  text-align: center;
  a {
    color: $color-primary-1;
    &:hover {
      color: darken($color-primary-1, 10%);
    }
  }
  &__container {
    margin: auto 7%;
    a {
      color: $text-color-light;
      &:hover {
        color: darken($text-color-light, 10%);
      }
    }
    &__card {
      background-image: linear-gradient(
        to right,
        #4776e6 0%,
        #8e54e9 50%,
        #4776e6 100%
      );
      border-radius: $border-radius-1;
      transition: 0.5s;
      padding: 1rem;
      margin: 2%;

      width: 100%;
      height: 100%;
      display: table;
      text-align: center;

      &:hover {
        background-image: linear-gradient(
          to right,
          #4776e6 0%,
          #8e54e9 70%,
          #4776e6 100%
        );
      }

      p {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
