@import '../../../common/util/variables';

.blogs {
  margin: 5%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: $color-primary-1;
      border: none;

      &:hover,
      &:focus {
        background: lighten($color-primary-1, 10%);
      }
    }
  }

  &__container {
    margin: auto 5% 5% 5%;
  }
}
