@use '../../common/util/mixins';
@import '../../common/util/variables';

.stats {
  margin: 5%;

  &__container {
    margin: 2%;

    &__stat {
      @include mixins.anchor($color-primary-1);

      &__card {
        margin: 4% auto;
        padding: 2rem;
        border-radius: $border-radius-2;
        background-color: $color-secondary-2;

        &__item {
          h2,
          p {
            margin: 0;
            color: $text-color-light;
          }

          margin: 2%;
          border-radius: $border-radius-2;
        }
      }
    }
  }
}
