@import '../../../common/util/variables';

.blogs-history {
  margin: 5%;

  &__title {
    color: $color-primary-3;
    @media screen and (max-width: $screen-sm) {
      text-align: center;
    }
  }

  &__card {
    background: $color-secondary-2;
    border-radius: $border-radius-2;
    padding: 2rem;
    margin: 2%;
    text-align: center;
  }
}
